hr {
    margin: 0;
}

.rodapé {
    margin-top: 2rem;
    background: var(--azul-degrade);
    padding: 1em;
    text-align: center;
}

.rodapé p {
    color: var(--branco);
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--fonte-secundaria);
    width: 100%;
    margin: auto;
}

.rodapé samp {
    font-weight: 900;
}