.alternador-status input {
    opacity: 0;
    width: 0;
    height: 0;
}

.alternador-status {
    position: relative;
    width: 65px;
    height: 30px;
    display: inline-block;
}

.alternador-slider {
    position: absolute;
    inset: 0;
    background: var(--gray-ccc);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    border-radius: 99px;
    cursor: pointer;
    transition: .25s;
}

.alternador-slider::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 27px;
    left: 3px;
    top: 2px;
    background: var(--alternador-bolinha);
    border-radius: 50%;
    transition: .25s;
}

.alternador-status input:checked+.alternador-slider {
    background: var(--alternador-ativo);
}

.alternador-status input:checked+.alternador-slider::before {
    transform: translateX(32px);
}