/* ============================
   EXTERNO
============================ */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  margin: 0;
  font: 14px/1.4 system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  background: var(--bg);
  color: var(--txt);
  background-color: var(--bg);
}

.area-main {
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px 40px;
}