.painel-acoes-tarefas {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(90deg, #ffffff, #eaeaea);
  border-radius: var(--borda-card);

  height: 100%;
  width: 66%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  gap: 3px;

  /* z-index: 0; */
}

.botao-acao-tarefas {
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #555;
  margin: 15px;
  background: transparent;
}