
.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    user-select: none;
    font-family: sans-serif;
    font-size: 16px;
}

.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #28a745;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

.checkbox-container .usuario_concluir {
    display: flex;
    align-items: center;
    margin-right: -12px;
    margin-bottom: -5px;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #28a745;
}

.checkbox-container input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
}