.cabeçalho__menu-hamburguer {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__link {
    margin: 0 .7rem 0 .7rem;
}
.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1rem;
}

.container__batao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
    padding: 0.1rem 0 .25rem 0.1rem;
    background-color: var(--branco);   
}

.container__batao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    font-family: var(--fonte-primaria);
    font-size: .85rem;
    
    font-weight: 900;
    padding: .75rem;
}

.lista-menu__titulo {
    font-size: 1.2rem;
    color: var(--laranja);
    padding-top: 1.5rem;
}

.lista-menu__link {
    margin-left: 1.5rem;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__titulo, .opções, .ocuptar {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabeçalho__menu-hamburguer, .ocuptar-table, .opções__boão {
        display: none;
    }

    .container__titulo {
        display: block;
        font-family: var(--fonte-titulo);
        font-size: 2.5rem;
    }
    
    .container__titulo samp {
        font-weight: 900;
    }

    .opções {
        display: flex;
        gap: 3rem;
        font-size: 1.1rem;
    }

     .opções__link, .opções__item {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--laranja);
        font-weight: 700;
    }

    .opções__item {
        font-family: var(--fonte-primaria);
        font-weight: 900;
    }

    .opções__link {
        font-family: var(--fonte-secundaria);
    }

    .opções__boão:checked ~ .lista-menu {
        display: block;
        width: 25%;
    }
}

@media screen and (min-width: 1728px) {
    .cabeçalho__menu-hamburguer, .ocuptar-table, .opções__boão {
        display: none;
    }
    
    .ocuptar {
        display: block;
    }

    .container__link {
        display: flex;
        gap: .7rem;
        align-items: center;
        text-decoration: none;
        margin: 0 1rem 0 1rem;
    }

    .container__texto {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--azul);
        font-family: var(--fonte-primaria);
        font-size: 1rem;
    }
    
    .icones {
        margin-right: 3rem;
    }

    .opções {
        margin-right: auto;
        margin-left: 2rem;
    }
}


 